.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #869b0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgb(179, 194, 20);
  padding: 15px;
  font-size: 28px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#student-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 200px;
}

#student-add {
  position: relative;
  top: 20px;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 550;
  background: greenyellow;

}

.fields {
  position: relative;
  left: 50px;
  width: 78%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  gap: 60px;
  row-gap: 100px;

}

fieldset {
  padding: 0;
  border-color: 5px solid rgb(78, 75, 75);
  
} 
input[type="text"]{
text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.inp1 {
  height: 40px;
  width: 500px;
  
  border: none;
}

.inp1:focus {
  background: white;
  border: none;
}

#student-table {
  position: relative;
  left: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr;
  background-color: white;
  text-align: left;
  border-radius: 10px;
}

.fix-1 {
  padding: 10px;
  height: 28px;
  border-bottom: 1px solid grey;
  font-size: 20px;
}

#fix-2 {
position: relative;
color: blue;
top: -20px;
}

legend {
  border-color: rgb(59, 58, 58);
}

.fix-3 {
  position: relative;
  top: 50px;
  left: 600px;
}

.one {
  position: relative;
  left: -10px;
}

.two {
  position: relative;
  left: 200px;
}

.three {
  position: relative;

  left: -400px;
}

.four {
  position: relative;
  left: -250px;

}